<!DOCTYPE html>
<html lang="en">
  <%- partial('_partial/head') %>

  <body>

		<%- partial('_partial/navbar') %>

    <% if (is_home()){ %>
      <%- partial('_partial/header') %>
    <% } %>

		<div class="container mt-5">
			<%- body %>

			<%- partial('_partial/footer') %>
		</div>

		<%- partial('_partial/scripts') %>

  </body>
</html>
